* {
    box-sizing: border-box;
}

.wrapper {
    padding: 20px;
}

table {
	border: solid 1px;
}

thead td {
	background-color: lightcoral;
	font-weight: bold;
}

td {
	padding: 10px;
	background-color: lightblue;
}

.container button {
    margin:20px 0;
}

.modal {
	display:flex;
    position: fixed;
    justify-content: center;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}

.modal-bg {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
	background-color:rgba(0,0,0,.3);
}

form {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 10px;
	margin:20px;
	background-color:white;
	border:solid 1px pink;
	padding:20px;
	width:fit-content;
    box-shadow: 3px 3px 3px rgba(0,0,0, .3);
    align-items: center;
    z-index: 9999999999;
}

label {
	background-color: pink;
	padding: 5px;
}

input {
	border: solid 1px pink;
}

input[type="checkbox"] {
	width: fit-content;
}

a {
    color:lightcoral;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

form a {
    justify-self: center;
}
