:root {
    --green-rgb: 4, 184, 158;
    --light-coral-rgb: 240, 128, 128;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color:rgb(var(--light-coral-rgb));
}

.wrapper {
    padding: 20px;
}

table {
	border: solid 1px rgb(var(--light-coral-rgb));
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.no-books {
    font-style: italic;
    text-align: center;
}

thead td {
	background-color: rgb(var(--light-coral-rgb));
	font-weight: bold;
    color:white;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

td {
	padding: 10px;
}
tr:nth-child(odd) {
    background-color:rgba(var(--light-coral-rgb),.6);
}
tr:nth-child(even) {
    background-color: rgba(var(--light-coral-rgb),.8);
}

.read-status {
    display: flex;
    border-radius: 5px;
    position: relative;
    gap:5px;
}

.toggle-read {
    width:0;
    height:0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top:0;
    left:0;
    transition: 1s;
}
.yes, .no {
    transition: .3s;
    cursor: pointer;
}
.yes {
    opacity: .5;
}
.no {
    opacity:1;
}
.toggle-read:checked ~ .no {
    opacity:.5;
}
.toggle-read:checked ~ .yes {
    opacity: 1;
}


button {
    border:solid 1px rgb(var(--light-coral-rgb));
    padding:4px 10px;
    border-radius: 5px;
    background-color: rgb(var(--light-coral-rgb));
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .1s;
}
button:hover {
    opacity: .7;
}
button:active {
    opacity:1;
}

.container button {
    margin:20px 0;
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.3);
}

.modal-outer {
	display:none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}

.modal-container {
    border: solid 1px rgb(var(--light-coral-rgb));
    background-color: white;
	margin:20px;
	padding:20px;
    height: fit-content;
    box-shadow: 3px 3px 3px rgba(0,0,0, .3);
    align-items: center;
    z-index: 9999999999;
    border-radius: 5px;
}

form {
	display: grid;
	grid-template-columns: repeat(2, max-content);
    grid-auto-rows: max-content;
	gap: 20px;
}

label {
	background-color: rgba(240, 128, 128,.8);
	padding: 5px;
    color:white;
}

input {
	color:rgb(var(--light-coral-rgb));
    font-size: 1.1rem;
    border: solid 1px rgba(var(--light-coral-rgb),.8);
}

input:focus, button:focus, a:focus {
    outline: none;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}

input[type="checkbox"] {
	width: fit-content;
}

a {
    color:rgb(var(--light-coral-rgb));
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

form a {
    width: fit-content;
    border:solid 1px rgb(var(--light-coral-rgb));
    border-radius: 5px;
    padding:4px 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .1s;
}
form a:hover {
    text-decoration: none;
    color:white;
    background-color: rgb(var(--light-coral-rgb));
    opacity: .7;
}
form a:active {
    opacity: 1;
}

.alert-container {
    position: relative;
    border-top: solid 44px rgb(var(--light-coral-rgb));
    text-align: center;
}
.alert-container::before {
    content: '!';
    position: absolute;
    top:-38px;
    right:4px;
    font-weight: 900;
    font-size: 1.5rem;
    display: block;
    width: 2ch;
    height: 2ch;
    border: solid 3px white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

#alert-text {
    white-space: pre-line;
}

/* TEST */
.edit-library-modal {
    display: flex;
}

.book-list-container {
    border:solid 1px rgb(var(--light-coral-rgb));
    list-style: none;
    padding: 5px;
    color:white;
}

.book-list-container li {
    margin:2px;
}
.book-list-container label:hover .custom-check {
    background-color: rgb(var(--light-coral-rgb));
}

.book-list-container li:nth-child(odd) {
    background-color:rgba(var(--light-coral-rgb),.6);
}
.book-list-container li:nth-child(even) {
    background-color: rgba(var(--light-coral-rgb),.8);
}
.book-list-container label {
    background-color: transparent;
    padding: 10px;
    color: inherit;
    display: flex;
    gap:5px;
    align-items: center;
    position: relative;
    white-space: nowrap;
    flex-wrap: wrap;
    cursor: pointer;
}
.by {
    opacity: .5;
}
.to-delete {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.custom-check {
    border: solid 1px;
    border-radius: 5px;
    width: 2ch;
    height: 2ch;
    text-align: center;
    opacity: 1;
    transition: .1s;
    background-color: rgba(var(--light-coral-rgb),.5);
}
.custom-check::before {
    content: '✓';
    opacity: 0;
    transition: .07s;
}

.to-delete:checked ~ .custom-check:before {
    content: '✓';
    opacity: 1;
}